<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h3>Hi there. This is a sample page, a quick start project for building a Messenger Chatbot.</h3>
<h3>For more information, please <a href="https://bit.ly/subscribe-haryphamdev" target="_blank">visit my youtube channel!</a></h3>

<h3>The other chatbot I built before:</h3>
<h4 title="Click to chat with the bot"><a target="_blank" href="https://m.me/restaurantHaryPhamDev">A restaurant bot</a></h4>
<h4 title="Click to chat with the bot"><a  target="_blank" href=" https://m.me/techshopharyphamdev">An online store bot (video demo below)</a></h4>
<div>
    <iframe width="853" height="480" src="https://www.youtube.com/embed/4zkR4nzmqA4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</body>
</html>
